nav{
    text-transform:uppercase;
    text-decoration:none;
    text-align:right;
    padding:10px;
    height:20px;
   }
nav li{
    margin:right;
    display:inline;
   }
nav li a{
    color:whitesmoke;
    text-decoration: none;
    padding: 3%;

    }
nav li a:hover{
       color: black;
    }

h1{
        font-family: 'Shadows Into Light', cursive;
        padding-left: 30%;
        font-size: xx-large;
        position: relative;
        -webkit-animation: mymove 5s infinite;
        animation: alternate-reverse;
        

    }
h2{
        font-family: 'Shadows Into Light', cursive;
        padding-left: 40%; 
        padding-top: 2%;
        font-size:  
        
    }
body{
        /*background-image: url('https://images.all-free-download.com/images/graphiclarge/painting_background_colorful_splashing_decoration_6829250.jpg');*/
        background-image: url('../image/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
.display{
        display:table-cell;
        bottom: 01%;
    }
.important{
        float: right;
     
    }
img{
    padding-left: 40%;
    
    
    }
#about h4{
        padding: left 10%; 
    }
div>h1>p{
        max-width: 960px;
        margin: auto;
    }
p,li{
        font-family: 'Handlee', cursive;
        font-size:larger;
    }
h2,h3,h4 {
        font-family: 'Philosopher', sans-serif;
        color:rgb(255,105,180);
        
    }
    .slide{
        padding-left: 30%;
        border: 4px silid hotpink;
        position: absolute;
    
    }
    footer{
       position: absolute;
       bottom:30% ;
       text-align: center;
       font-family: 'Shadows Into Light', cursive;
        padding-left: 40%;
        font-size: xx-large
    }
    .conta{
        padding-left: 30%;
    
    }
    span{
        background-color: black;
        color: white;
        background-size: cover;
        font-family: 'Shadows Into Light', cursive;
     }
    .contact{
        margin:left;
        margin: right;
        text-align: center;
        padding-top: 5%;
    }
    .intro{
    box-sizing: border-box;
    border: 3px solid hotpink;
    padding: 2%;
    padding-bottom: 40%;
    width: 600px;
    height: 200px;
    box-shadow: black;
    box-shadow: 10px;
    font-size: xx-large;
    
    }
    .intro:hover{
        color: white;
        font-size: xx-large;
        height: 200px;
        width: 600px;
       
    }
    @-webkit-keyframes mymove {
        from{left: 0px;}
        to{left: 200px}
    }